@charset "utf-8";
/* CSS Document */

@use 'headerStyle';
@use 'footerStyle';
@use 'blackFridayStyle';

// Variables
@import 'vars';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

section {
    display: block;
    width:100%;
    min-height: calc(100vh - 120px);
    box-sizing:border-box;
    padding-top: 120px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #3F3E3E;
    background-color: $body-bg;
    z-index: -100;
}

#upButton {
    position: absolute;
    z-index: 10000;
    top: 20vh;
    right: 4vw;
    width: 48px;
    height: 48px;
    img {
        transform: rotate(180deg);
    }
    color: #3F3E3E;
}
#slidersect {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#black-friday-section {
    width: 100vw;
}

#offers-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
}

.carousel, .carousel-item, .carousel-item>img {
    max-height: 70vh;
}
